@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins/breakpoints";

:host {

  display: block;

  @include media-breakpoint-up(lg) {
    margin: {
      bottom: 25px;
    }
  }

  h1 {

    margin: {
      top: 0.5rem;
    }

    @include media-breakpoint-up(lg) {
      margin: 25px 25px 0 0;
    }

    a {

      background: {
        image: url('../../../../assets/img/ngbe_logo.svg');
        repeat: no-repeat;
        size: cover;
      }
      height: 45px;
      width: 45px;

      display: block;
      text: {
        decoration: none;
        indent: -9999px;
      }
      border: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        border: none;
        transform: scale(1.2);
      }

      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }

    }

  }

  .navbar {

    padding: {
      left: 0;
      right: 0;
    }

    .tickets {
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }

    &-nav {

      @include media-breakpoint-up(lg) {
        margin: {
          top: 25px;
          left: auto;
        }
      }

      .nav-item {
        padding: {
          bottom: 10px;
          top: 10px;
        }
      }

      .nav-link {
        color: #fff;
        text: {
          transform: uppercase;
          decoration: none;
        }
        display: inline-block;
        padding: {
          top: 10px;
          right: 0;
          left: 0;
          bottom: 0;
        }
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;

        text-align: left;
        @include media-breakpoint-up(lg) {
          border-bottom: .10rem solid transparent;
        }

        @include media-breakpoint-down(lg) {
          padding: {
            top: 10px;
            bottom: 10px;
          }
          border:none;
        }

        &:hover,
        &:focus {
          text: {
            decoration: none;

          }
          @include media-breakpoint-up(lg) {
            border-bottom-color: rgba(255, 255, 255, .25);
          }
        }

        &.active {
          color: #fff;
          border-bottom-color: rgba(255, 255, 255, .75);
        }

      }

      .active {
        color: #fff;
        border-bottom-color: #fff;
      }

      @include media-breakpoint-up(lg) {
        .nav-item:not(:last-child) {
          margin: {
            right: 2rem;
          }
        }
      }
    }

    // Animate hamburger

    .navbar-toggler {

      padding: 9px 10px;
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;

      .icon-bar {

        background: #fff;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;

        position: relative;
        transition: all 500ms ease-in-out;

        &:nth-of-type(2) {
          top: 1px;
        }

        &:nth-of-type(3) {
          top: 2px;
        }

        & + .icon-bar {
          margin: {
            top: 4px;
          }
        }
      }

      &:not(.collapsed) .icon-bar {
        &:nth-of-type(1) {
          top: 6px;
          transform: rotate(45deg);
        }
        &:nth-of-type(2) {
          background-color: transparent;
        }
        &:nth-of-type(3) {
          top: -6px;
          transform: rotate(-45deg);
        }
      }

    }

  }

}
