<div class="content container">

    <h2>Community partners</h2>

    <p>
        Angular wouldn't be what it is today without its communities, from all over the world.
        Check out this other meetups & conferences in Europe!
    </p>

    <div class="community--partners">
        <div class="row">
            <div class="col-6 col-sm-2 col-md-2 col-lg-2 offset-lg-1 offset-md-1 offset-sm-1">
                <div class="community--logo community--logo__round">
                    <a href="http://thoughtram.io" target="_blank" title="Visit Thoughtram" rel="noopener">
                        <img src="/assets/img/community/thoughtram.png" alt="Thoughtram"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo community--logo__round">
                    <a href="http://strongbrew.io" target="_blank" title="Vistit StrongBrew" rel="noopener">
                        <img src="/assets/img/community/strongbrew.jpg" alt="StrongBrew"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo">
                    <a href="https://angular.io/" target="_blank" title="Visit Angular.io" rel="noopener">
                        <img src="/assets/img/community/angular.png" alt="Angular"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo community--logo__round">
                    <a href="https://womencode.be/" target="_blank" title="Visit Women.code[BE]" rel="noopener">
                        <img src="/assets/img/community/womencode.png" alt="Visit Women.code[BE]"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo">
                    <a href="https://www.meetup.com/AngularJS-Bucharest/" target="_blank"
                       title="Visit AngularJS Bucharest" rel="noopener">
                        <img src="/assets/img/community/ngbucharest.png" alt="Ng Bucharest"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2 offset-lg-1 offset-md-1 offset-sm-1 last">
                <!-- shown xs only -->
                <!-- shown xs -->
                <div class="community--logo">
                    <a href="http://angularcamp.org/" target="_blank" title="Visit Angular Camp" rel="noopener">
                        <img src="/assets/img/community/angularcamp.png" alt="Angular Camp"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-2 col-md-2 col-lg-2 offset-lg-1 offset-md-1 offset-sm-1 first">
                <div class="community--logo">
                    <a href="http://angularcamp.org/" target="_blank" title="Visit Angular Camp" rel="noopener">
                        <img src="/assets/img/community/angularcamp.png" alt="Angular Camp"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo community--logo__round">
                    <a href="http://www.meetup.com/jsbe-io/" target="_blank" title="Visit JSBE" rel="noopener">
                        <img src="/assets/img/community/jsbe.jpg" alt="JSBE"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo community--logo__round">
                    <a href="https://ngvikings.org/" target="_blank" title="Visit NgVikings" rel="noopener">
                        <img src="/assets/img/community/ngvikings.png" alt="NgVikings"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo community--logo__round">
                    <a href="https://www.meetup.com/AngularJS-Oslo/" target="_blank" title="Visit AngularJs Oslo"
                       rel="noopener">
                        <img src="/assets/img/community/ngnorway.png" alt="Ng Norway"/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community--logo">
                    <a href="https://ngtalks.io/" target="_blank" title="visit NGTalks conference" rel="noopener">
                        <img src="/assets/img/community/ngt.png" alt="NGTalks"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
