<div class="content container">
    <h2>Community partners</h2>
    <div class="community-partners">
        <div class="row">
            <div class="col-6 col-sm-2 col-md-2 col-lg-2 offset-lg-1 offset-md-1 offset-sm-1">
                <div class="community-logo community-logo--round">
                    <a href="http://thoughtram.io" target="_blank"><img
                            src="/assets/img/community/thoughtram.png" alt=""/>
                    </a>
                </div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo community-logo--round"><a href="http://strongbrew.io" target="_blank"><img
                        src="/assets/img/community/strongbrew.jpg" alt=""/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo"><a href="https://angular.io/" target="_blank"><img
                        src="/assets/img/community/angular.png" alt="Angular"/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo"><a href="https://angularair.com/" target="_blank"><img
                        src="/assets/img/community/angular-air.png" alt=""/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo"><a href="https://www.meetup.com/AngularJS-Bucharest/" target="_blank"><img
                        src="/assets/img/community/ngbucharest.png" alt=""/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2 offset-lg-1 offset-md-1 offset-sm-1 last">
                <!-- shown xs only -->
                <!-- shown xs -->
                <div class="community-logo"><a href="http://angularcamp.org/" target="_blank"><img
                        src="/assets/img/community/angularcamp.png" alt=""/></a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-2 col-md-2 col-lg-2 offset-lg-1 offset-md-1 offset-sm-1 first">
                <div class="community-logo"><a href="http://angularcamp.org/" target="_blank"><img
                        src="/assets/img/community/angularcamp.png" alt=""/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo community-logo--round"><a href="http://www.meetup.com/jsbe-io/"
                                                                     target="_blank"><img
                        src="/assets/img/community/jsbe.jpg" alt=""/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo community-logo--round"><a href="https://ngvikings.org/" target="_blank"><img
                        src="/assets/img/community/ngvikings.png" alt=""/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo community-logo--round"><a href="https://www.meetup.com/AngularJS-Oslo/"
                                                                     target="_blank"><img
                        src="/assets/img/community/ngnorway.png" alt=""/></a></div>
            </div>
            <div class="col-6 col-sm-2 col-md-2 col-lg-2">
                <div class="community-logo"><a href="http://www.clearskynetworks.be/" target="_blank"><img
                        src="/assets/img/community/clearsky-networks.png" alt=""/></a></div>
            </div>
        </div>
    </div>

</div>
