<div class="container">
    <h2>Official sponsors</h2>
    <h3>NG-BE would not be possible without these awesome sponsors</h3>
    <div class="sponsors">
        <div class="row">
            <div class="col-6 col-sm-3 col-md-2 col-lg-2 offset-lg-2 offset-md-2">
                <div class="sponsor--logo">
                    <a href="https://www.ordina.be/" target="_blank" rel="noopener" title="Visit the Ordina website">
                        <img src="/assets/img/sponsors/ordina.png" alt="Ordina"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__platinum">
                        <span class="label label-default">Platinum</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                <div class="sponsor--logo sponsor--logo__round">
                    <a href="http://www.aarixa.be" target="_blank" rel="noopener" title="Visit the aariXa website">
                        <img src="/assets/img/sponsors/aarixa.jpg" alt="aariXa"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__gold">
                        <span class="label label-default">Gold</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                <div class="sponsor--logo sponsor--logo__round">
                    <a href="https://www.arhs-group.com/arhs-digital" target="_blank" rel="noopener" title="Visit the Arηs Digital website">
                        <img src="/assets/img/sponsors/arhs_digital.png" alt="Arηs Digital"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__gold">
                        <span class="label label-default">Gold</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                <div class="sponsor--logo sponsor--logo__round">
                    <a href="https://www.euri.com/jobs" target="_blank" rel="noopener" title="Visit the Euricom website">
                        <img src="/assets/img/sponsors/euricom.png" alt="Euricom"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__gold">
                        <span class="label label-default">Gold</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 col-md-2 col-lg-2 col-lg-2 offset-lg-2 offset-md-2">
                <div class="sponsor--logo sponsor--logo__round">
                    <a href="http://www.appreciate.be/" target="_blank" rel="noopener" title="Visit the Appreciate website">
                        <img src="/assets/img/sponsors/appreciate.png" alt="Appreciate"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label--silver">
                        <span class="label label-default">Silver</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                <div class="sponsor--logo">
                    <a href="http://www.realdolmen.com/" target="_blank" rel="noopener" title="Visit the RealDolmen website">
                        <img src="/assets/img/sponsors/realdolmen.jpg" alt="RealDolmen"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__silver">
                        <span class="label label-default">Silver</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                <div class="sponsor--logo sponsor--logo__round">
                    <a href="https://axxes.com/en/" target="_blank" rel="noopener" title="Visit the Axxes website">
                        <img src="/assets/img/sponsors/axxes.png" alt="Axxes"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__silver">
                        <span class="label label-default">Silver</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                <div class="sponsor--logo">
                    <a href="http://www.adneom.com" target="_blank" rel="noopener" title="Visit the Adneom website">
                        <img src="/assets/img/sponsors/adneom.png" alt="Adneom"/>
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__silver">
                        <span class="label label-default">Silver</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-sm-3 col-md-2 col-lg-2 col-lg-2 offset-lg-4 offset-md-4">
                <div class="sponsor--logo sponsor--logo__round">
                    <a href="http://fourcast.io/" target="_blank" rel="noopener" title="Visit the Fourcast website">
                        <img src="/assets/img/sponsors/fourcast.png" alt="Fourcast">
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__silver">
                        <span class="label label-default">Silver</span>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-2 col-lg-2">
                <div class="sponsor--logo">
                    <a href="http://www.ctg.com" target="_blank" rel="noopener" title="Visit the CTG website">
                        <img src="/assets/img/sponsors/ctg.png" alt="CTG">
                    </a>
                    <div class="sponsor--logo--label sponsor--logo--label__silver">
                        <span class="label label-default">Silver</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <a routerLink="/sponsors" title="Checkout all the sponsors" class="btn btn-secondary btn-large">
            Check out all sponsors here!
        </a>
    </p>
</div>
