@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/bootstrap/scss/_buttons.scss";
@import "variables";

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.site-wrapper {
  width: 100%;
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.banner {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px 0;
}

.content {

  em {
    color: #d52533;
  }

  a:not(.btn) {
    color: $ngbe-yellow;
    background-color: transparent;
    border-bottom: .10rem solid transparent;
    padding: .25rem 0;

    &:hover {
      border-color: $ngbe-yellow;
      text-decoration: none;
    }
  }

  h1 {
    font: {
      size: 30px;
    }
    margin: {
      bottom: 25px;
    }
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  }

  h2 {
    font: {
      size: 24px;
    }
    margin: {
      bottom: 20px;
    }
    color: darken(#fff, 10%);
  }

  h3 {
    font: {
      size: 16px;
    }
    margin: {
      bottom: 15px;
    }
    color: darken(#fff, 20%);
  }

  h4 {
    font: {
      size: 14px;
    }
    margin: {
      bottom: 10px;
    }
    color: darken(#fff, 20%);
  }

  @include media-breakpoint-up(md) {
    h1 {
      font: {
        size: 40px;
      }
    }

    h2 {
      font: {
        size: 32px;
      }
    }

    h3 {
      font: {
        size: 24px;
      }
    }

    h4 {
      font: {
        size: 18px;
      }
    }
  }

}

/*
 * Globals
 */

/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}

/* Buttons */

/* Custom default button */
.btn-primary {
  &, &:hover, &:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
  }
  &:hover, &:focus {
    color: #000;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #ddd;
    border: .05rem solid #ccc;
  }
}