@import "../../styles/variables";

:host {

  display: block;

  .workshop-day {

    &--intro {

      p {
        margin: {
          left: auto;
          right: auto;
        }
        max-width: 600px;
        &:last-child {
          margin: {
            bottom: 0;
          }
        }

      }

    }

  }

}
