<div class="banner">
    <div class="container content">

        <div class="workshop-day--intro">

            <h1>Workshop day</h1>
            <h3>
                <a routerLink="location" title="The conference is held at the Holiday Inn Ghent Expo, Belgium">Ghent,
                    Belgium</a> | 6 December 2018 | 07:00 - 17:30
            </h3>

            <p>
                There will be 4 workshops the day before the conference. Please bring your own laptop and note that
                workshop tickets are sold separately.
            </p>

            <p>
                <a href="https://ti.to/ng-be/ng-be-2018/" class="btn btn-secondary" title="Buy workshop ticket">
                    Buy workshop ticket
                </a>
            </p>
        </div>
    </div>
</div>

<div class="container content">

    <div class="workshops--list">

        <div class="row">
            <div class="col-md-6">
                <div class="workshop left">

                    <h3>Angular Universal &amp; PWA</h3>
                    <h4>
                        Angular MasterClass
                    </h4>
                    <h5>
                        by
                        <a href="https://thoughtram.com"
                           title="Visit the Thoughtram website"
                           rel="noopener" target="_blank">
                            Thoughtram
                        </a>
                    </h5>

                    <div class="row">
                        <div class="col-md-4 col-lg-3 order-md-12">
                            <div class="workshop--image">
                                <a class="btn btn-primary btn-sm"
                                   routerLink="/workshop-day"
                                   fragment="angular-universal-pwa"
                                   title="More details about workshop #1">
                                    <img src="/assets/img/trainers/thoughtram.png" alt="Thoughtram"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-9 order-md-1">
                            <div class="workshop--description">
                                <p>
                                    More details &amp; the workshop planning will be shared soon!
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-sm"
                                       routerLink="/workshop-day"
                                       fragment="angular-universal-pwa"
                                       title="More details about workshop #1">
                                        Info coming soon!
                                    </a>
                                    <span class="sep">&nbsp;|&nbsp;</span>
                                    <a href="https://ti.to/ng-be/ng-be-2018/" class="btn btn-secondary btn-sm buy"
                                       title="Buy workshop ticket">
                                        Buy <em>workshop</em> ticket
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workshop right">

                    <h3>Security In Angular</h3>
                    <h4>
                        Untangling authentication in Angular
                    </h4>
                    <h5>
                        by
                        <a href="https://thoughtram.io/"
                           title="Visit the Pragmatic Web Security website"
                           rel="noopener" target="_blank">
                            Pragmatic Web Security
                        </a>
                    </h5>

                    <div class="row">

                        <div class="col-md-4 col-lg-3">
                            <div class="workshop--image">
                                <a class="btn btn-primary btn-sm"
                                   routerLink="/workshop-day"
                                   fragment="security-in-angular"
                                   title="More details about workshop #2">
                                    <img src="/assets/img/trainers/pragmatic.png" alt="Pragmatic"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <div class="workshop--description">
                                <p>
                                    More details &amp; the workshop planning will be shared soon!
                                </p>
                                <p>
                                    <a href="https://ti.to/ng-be/ng-be-2018/" class="btn btn-secondary btn-sm buy"
                                       title="Buy workshop ticket">
                                        Buy <em>workshop</em> ticket
                                    </a>
                                    <span class="sep">&nbsp;|&nbsp;</span>
                                    <a class="btn btn-primary btn-sm"
                                       routerLink="/workshop-day"
                                       fragment="security-in-angular"
                                       title="More details about workshop #2">
                                        Info coming soon!
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workshop left">

                    <h3>Angular Architecture Patterns</h3>
                    <h4>
                        A new Angular workshop
                    </h4>
                    <h5>
                        by
                        <a href="https://strongbrew.io"
                           title="Visit the Strongbrew website"
                           rel="noopener" target="_blank">
                            Strongbrew
                        </a>
                    </h5>

                    <div class="row">
                        <div class="col-md-4 col-lg-3 order-md-12">
                            <div class="workshop--image">
                                <a class="btn btn-primary btn-sm"
                                   routerLink="/workshop-day"
                                   fragment="angular-architecture-patterns"
                                   title="More details about workshop #3">
                                    <img src="/assets/img/trainers/strongbrew.jpg" alt="Strongbrew"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-9 order-md-1">
                            <div class="workshop--description">
                                <p>
                                    More details &amp; the workshop planning will be shared soon!
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-sm"
                                       routerLink="/workshop-day"
                                       fragment="angular-architecture-patterns"
                                       title="More details about workshop #3">
                                        Info coming soon!
                                    </a>
                                    <span class="sep">&nbsp;|&nbsp;</span>
                                    <a href="https://ti.to/ng-be/ng-be-2018/" class="btn btn-secondary btn-sm buy"
                                       title="Buy workshop ticket">
                                        Buy <em>workshop</em> ticket
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="workshop right">

                    <h3>Angular &amp; NGRX</h3>
                    <h4>
                        Ultimate Angular workshop
                    </h4>
                    <h5>
                        by
                        <a href="https://ultimateangular.com"
                           title="Visit the Ultimate Angular website"
                           rel="noopener" target="_blank">
                            Ultimate Angular
                        </a>
                    </h5>

                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <div class="workshop--image">
                                <a class="btn btn-primary btn-sm"
                                   routerLink="/workshop-day"
                                   fragment="angular-ngrx"
                                   title="More details about workshop #4">
                                    <img src="/assets/img/trainers/ultimateangular.jpg" alt="Ultimate Angular"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <div class="workshop--description">
                                <p>
                                    More details &amp; the workshop planning will be shared soon!
                                </p>
                                <p>
                                    <a href="https://ti.to/ng-be/ng-be-2018/" class="btn btn-secondary btn-sm buy"
                                       title="Buy workshop ticket">
                                        Buy <em>workshop</em> ticket
                                    </a>
                                    <span class="sep">&nbsp;|&nbsp;</span>
                                    <a class="btn btn-primary btn-sm"
                                       routerLink="/workshop-day"
                                       fragment="angular-ngrx"
                                       title="More details about workshop #4">
                                        Info coming soon!
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="banner">
    <div class="container content">

        <h2>What's included?</h2>
        <h3>Every workshop day ticket includes:</h3>

        <div class="row included--items">
            <div class="col-sm-6 col-md-4">
                <div class="included--item">
                    <h4>Full access</h4>
                    <p>Access to your selected training.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="included--item">
                    <h4>Free parking</h4>
                    <p>Free car parking on the private Holiday Inn car parking space.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="included--item">
                    <h4>Goodie bag</h4>
                    <p>Goodie bag with lots of cool swag.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="included--item">
                    <h4>Breakfast buffet</h4>
                    <p>Continental breakfast buffet with the trainers.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="included--item">
                    <h4>Lunch</h4>
                    <p>Lunch with fresh soup, salads, selections of cold and warm foods and dessert.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="included--item">
                    <h4>Breaks</h4>
                    <p>Morning and afternoon breaks with coffees, teas, juices, fresh yoghurt and fruits.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<ngbe-sponsors-list></ngbe-sponsors-list>

<ngbe-community></ngbe-community>

<ngbe-organisers></ngbe-organisers>
