@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../styles/variables";

:host {

  display: block;

  .workshop-day {

    &--intro {

      p {
        margin: {
          left: auto;
          right: auto;
        }
        max-width: 600px;
        &:last-child {
          margin: {
            bottom: 0;
          }
        }

      }

    }

  }

  .included--items {
    margin: {
      top: 20px;
    }
  }
  .included--item {
    margin: {
      bottom: 20px;
    }

    p:last-child {
      margin: 0;
    }
  }

  .workshops {
    &--list {
      margin: 25px 0 0 0;

      @include media-breakpoint-up(md) {
        padding: 25px 0;
      }
    }
  }

  .workshop {

    margin: {
      bottom: 25px;
    }

    @include media-breakpoint-up(md) {
      &.left {
        h3, h4, h5, p {
          text-align: right;
        }
      }
      &.right {
        h3, h4, h5, p {
          text-align: left;
        }
      }
    }

    h3 {
    }
    h4 {
      font-size: 1.1em;
      color: #fff;
      margin: {
        bottom: 5px;
      }
    }

    h5 {
      font: {
        size: 1em;
        weight: normal;
      }
      color: #fff;
      margin: {
        bottom: 25px;
      }
    }

    &--description {

      .buy {
        em {
          color: #fff;
        }
      }

      @include media-breakpoint-only(md) {
        .sep {
          display: none;
        }
        .btn:first-child {
          display: inline-block;
          margin: {
            bottom: 10px;
          }
        }
      }

      @include media-breakpoint-only(xs) {
        .sep {
          display: none;
        }
        .btn {
          display: block;
          width: auto;
          &:first-child {
            margin: {
              bottom: 10px;
            }
          }
        }
      }

    }

    &--image {
      margin: {
        bottom: 15px;
      }
      img {
        border-radius: 50%;
        border: 6px solid $ngbe-yellow;
        transition: all 0.2s ease-in-out;
        width: 100%;
        margin: 0 auto;

        transition: all 0.2s ease-in-out;

        @include media-breakpoint-down(md) {
          width: 75%;
          max-width: 200px;
        }

      }

      a {
        border: none;
        transition: all 0.2s ease-in-out;
        background: transparent;
        &:hover {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }

}

.section--workshop-details {

  &.nobanner {
    margin-bottom: 2rem;
    padding: {
      top: 2rem;
    }
  }
  .workshop-title {
    color: #cccccc;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .workshop-trainers {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .workshop-date {

  }
  .workshop-description {
    margin-bottom: 1em;
  }
  .workshop-buy {
    margin-bottom: 2em;
  }
}

.schedule-item {
  display: flex;
  &__time {
    background: #f9dc29;
    flex: 0 0 100px;
    padding: 15px 5px;
    font-size: 1.2rem;
    border-left: 1px solid #e1c93b;
    border-bottom: 1px solid #e1c93b;
    color: rgba(0, 0, 0, 0.618);
    text-shadow: none;
    text-align: center;
  }
  &__description {
    flex: 1;
    background: #fffdf0;
    padding: 15px 30px;
    color: rgba(0, 0, 0, 0.618);
    text-shadow: none;
    border-left: 1px solid #e1c93b;
    border-bottom: 1px solid #e1c93b;
    border-right: 1px solid #e1c93b;
    text-align: left;
    ul {
      padding-left: 1em;
      margin-bottom: 0;
    }
  }
}
