<div class="content container">
    <h2>Organisers</h2>
    <div class="row">
        <div class="col-md-6 col-lg-5 offset-lg-1">
            <div class="organiser text-right">
                <div class="row">
                    <div class="col-8 col-md-9">
                        <div class="organiser__name">Sam Vloeberghs</div>
                        <div class="organiser__title">Co-organiser</div>
                        <div class="organiser__links">
                            <div class="organiser-link"><a href="https://twitter.com/samvloeberghs"
                                                           target="_blank">@samvloeberghs</a></div>
                        </div>
                    </div>
                    <div class="col-4 col-md-3">
                        <div class="organiser__image"><img src="/assets/img/organisers/sam-vloeberghs.jpg"/></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5">
            <div class="organiser">
                <div class="row">
                    <div class="col-4 col-md-3">
                        <div class="organiser__image"><img src="/assets/img/organisers/jurgen-van-de-moere.jpg"/>
                        </div>
                    </div>
                    <div class="col-8 col-md-9">
                        <div class="organiser__name">Jurgen Van de Moere</div>
                        <div class="organiser__title">Co-organiser</div>
                        <div class="organiser__links">
                            <div class="organiser-link"><a href="https://twitter.com/jvandemo"
                                                           target="_blank">@jvandemo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
