<div [class.banner]="banner">
    <div class="content container">

        <h2>Organisers</h2>

        <p>
            NG-BE 2018 is organised by Jurgen &amp; Sam, with the most appreciated support from the
            <a routerLink="/team" title="NG-BE core team overview">NG-BE core team</a>!
        </p>

        <div class="row">
            <div class="col-sm-6 col-lg-5 offset-lg-1">
                <div class="organiser text-right first">
                    <div class="row">
                        <div class="col-8 col-md-9">
                            <div class="organiser__name">Sam Vloeberghs</div>
                            <div class="organiser__title">Co-organiser</div>
                            <div class="organiser__links">
                                <div class="organiser-link">
                                    <a href="https://twitter.com/samvloeberghs"
                                       title="Tweet to Sam directly!"
                                       rel="noopener"
                                       target="_blank">@samvloeberghs</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-md-3">
                            <div class="organiser__image">
                                <a href="https://twitter.com/samvloeberghs"
                                   title="Tweet to Sam directly!"
                                   rel="noopener"
                                   target="_blank">
                                    <img src="/assets/img/organisers/sam-vloeberghs.jpg" title="Sam Vloeberghs"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5">
                <div class="organiser">
                    <div class="row">
                        <div class="col-4 col-md-3">
                            <div class="organiser__image">
                                <a href="https://twitter.com/jvandemo"
                                   title="Tweet to Jurgen directly!"
                                   rel="noopener"
                                   target="_blank">
                                    <img src="/assets/img/organisers/jurgen-van-de-moere.jpg"
                                         title="Jurgen Van De Moere"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-8 col-md-9">
                            <div class="organiser__name">Jurgen Van de Moere</div>
                            <div class="organiser__title">Co-organiser</div>
                            <div class="organiser__links">
                                <div class="organiser-link">
                                    <a href="https://twitter.com/jvandemo"
                                       title="Tweet to Jurgen directly!"
                                       rel="noopener"
                                       target="_blank">@jvandemo
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
