<div class="banner">
    <div class="container content">
        <div class="location--intro">
            <h1>Holiday Inn Ghent Expo</h1>
            <h3>Maaltekouter 3 - 9051 Ghent, Belgium</h3>
        </div>
        <div class="location--more-info">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="text-right">
                        <p>
                            Holiday Inn Ghent Expo is conveniently located next to the E40
                            (Brussels-Ostend) and the E17 (Amsterdam-Paris) motorways.
                        </p>
                        <p>
                            Hop on the tram, 100 meters from Holiday Inn Ghent Expo, for a 20-minute ride into historic
                            Ghent with its wealth of museums, medieval streets and 12th-century architecture. You can
                            book a boat trip on the canal and sample locally brewed beer, or take a 30-minute drive to
                            visit the cities of Brussels and Bruges.
                        </p>

                        <p>
                            <a href="http://www.higentexpo.com" target="_blank"
                               title="Visit the HI Ghent Expo website">
                                Visit the HI Ghent Expo website
                            </a>
                        </p>
                        <p>
                            <a href="https://www.google.be/maps/place/Holiday+Inn+Ghent+Expo/@51.0260034,3.6874463,17z/data=!3m1!4b1!4m5!3m4!1s0x47c373cd0158df95:0xac18676eb1dbc0ac!8m2!3d51.0260034!4d3.689635"
                               target="_blank"
                               title="Locate HI Ghent Expo on Google maps">
                                Locate HI Ghent Expo on Google maps
                            </a>
                        </p>
                        <p>
                            <strong>All NG-BE tickets include free private car parking space.</strong>
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2509.4606990704856!2d3.6885943012107094!3d51.02611134888133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xac18676eb1dbc0ac!2sHoliday+Inn+Gent+Expo!5e0!3m2!1sen!2sbe!4v1497685015867"
                            frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="location--images">
    <div class="location--images__image location--images__image33"><img src="/assets/img/location/41.jpg"/></div>
    <div class="location--images__image location--images__image33"><img src="/assets/img/location/42.jpg"/></div>
    <div class="location--images__image location--images__image33"><img src="/assets/img/location/43.jpg"/></div>
    <div class="location--images__image location--images__image25"><img src="/assets/img/location/89.jpg"/></div>
    <div class="location--images__image location--images__image25"><img src="/assets/img/location/92.jpg"/></div>
    <div class="location--images__image location--images__image25"><img src="/assets/img/location/100.jpg"/></div>
    <div class="location--images__image location--images__image25"><img src="/assets/img/location/196.jpg"/></div>
    <div class="location--images__image location--images__image50"><img src="/assets/img/location/211.jpg"/></div>
    <div class="location--images__image location--images__image50"><img src="/assets/img/location/35.jpg"/></div>
</div>

<ngbe-sponsors-list></ngbe-sponsors-list>

<ngbe-community></ngbe-community>

<ngbe-organisers></ngbe-organisers>
