<footer class="banner content">
    <div class="container">
        <p>
            Follow us on Twitter <a href="https://twitter.com/ngbeconf">@ngbeconf</a>.
        </p>
        <p>
            Previous editions: <a href="https://2017.ng-be.org">2017</a>, <a href="https://2016.ng-be.org">2016</a>
        </p>
        <p>
            <a routerLink="/terms-and-conditions">Terms &amp; Conditions</a>
            |
            <a routerLink="/code-of-conduct">Code of Conduct</a>
        </p>
    </div>
</footer>