<div class="banner">
    <div class="container content">

        <div class="team-members--intro">

            <h1>Social Media Challenge</h1>
            <h3>
                Post a picture to showcase NG-BE and qualify to win a 25% discount on your conference or workshop ticket!
            </h3>

        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-6">
            <div class="rules">
                <h4>Rules to participate</h4>

                <ul>
                    <li>
                        Take a funny or happy picture of yourself, someone else or even your favorite pet, <em>showcasing the NG-BE logo</em>.
                    </li>
                    <li>
                        Post your picture on social media ( Facebook, Twitter or LinkedIn ) <em>before August 1, 2018.</em>
                    </li>
                    <li>
                        <em>Use #ngbe2018 or @ngbeconf in your post</em> so that we are alerted of your submission. Make sure your post is public so that we can review it.
                    </li>
                    <li>
                        The 3 most original pictures <em>win a 25% discount on a workshop or conference ticket.</em>
                    </li>
                    <li>
                        Submissions are <em>rated democratically</em> by the members of the NG-BE core team.
                    </li>
                    <li>
                        The 3 winners are announced on the August 10, 2018.
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="example">
                <h4>Example</h4>
                <div class="embedded">

                    <blockquote class="twitter-tweet" data-lang="en">
                        <p lang="en" dir="ltr">The team has received its Angular Christmas gift ! Thanks <a
                                href="https://twitter.com/ngbeconf?ref_src=twsrc%5Etfw">@ngbeconf</a> for the stickers !
                            <a
                                    href="https://twitter.com/hashtag/BestWishes?src=hash&amp;ref_src=twsrc%5Etfw">#BestWishes</a>
                            <a href="https://twitter.com/hashtag/Mainsys?src=hash&amp;ref_src=twsrc%5Etfw">#Mainsys</a>
                            <a
                                    href="https://t.co/XP7aHEgbRm">pic.twitter.com/XP7aHEgbRm</a></p>&mdash; Benjamin
                        Evrard
                        (@bevrard) <a href="https://twitter.com/bevrard/status/812633427098869760?ref_src=twsrc%5Etfw">December
                        24, 2016</a></blockquote>

                </div>

            </div>
        </div>
    </div>
</div>

<!--
<ngbe-sponsors-list></ngbe-sponsors-list>
-->

<ngbe-organisers [banner]="true"></ngbe-organisers>

<ngbe-community></ngbe-community>
