@import "../../styles/variables";

:host {

  display: block;

  .team-members {

    &--intro {

      h3 {
        max-width: 500px;
        margin: {
          left: auto;
          right: auto;
          bottom: 20px;
        }
      }

      p {
        margin: {
          left: auto;
          right: auto;
          bottom: 0;
        }
        max-width: 600px;
      }
    }
    &--list {
      margin: {
        top: 40px;
        bottom: 20px;
      }
    }
  }

  .team-member {

    text: {
      align: left;
    }
    margin: {
      bottom: 30px;
    }

    &__image {
      img {
        border-radius: 50%;
        border: 6px solid $ngbe-yellow;
        width: 100%;
      }
    }

    &__name {
      font-size: 1.4rem;
    }

    &__title {
      font-style: italic;
      margin: {
        bottom: 10px;
      }
    }

    &__description {
      margin: {
        bottom: 10px;
      }
    }

  }
}
