<div class="banner">
    <div class="container content">

        <div class="team-members--intro">

            <h1>Team</h1>
            <h3>NG-BE would not be possible without the help of its fantastic Core Team</h3>

            <p>
                Everybody in our team is always stand-by to help you out where needed. If you require special assistance
                of any kind, please don't hesitate to reach out for help. If you notice somebody not following our
                <a routerLink="/code-of-conduct" title="Please read our code of conduct">code of conduct</a>, please
                don't be shy to let us know.
            </p>

        </div>
    </div>
</div>

<div class="container content">

    <div class="team-members--list">
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <div class="team-member text-right">
                    <div class="row">
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Sam Verschueren</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/SamVerschueren" target="_blank"
                                       title="Tweet to Sam directly!">
                                        @SamVerschueren
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/sam-verschueren.jpg" alt="Sam Verschueren"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="team-member">
                    <div class="row">
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/stefan-lapers.jpg" alt="Stefan Lapers"/>
                            </div>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Stefan Lapers</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/stefanlapers" target="_blank"
                                       title="Tweet to Stefan directly!">
                                        @stefanlapers
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <div class="team-member text-right">
                    <div class="row">
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Carmen Popoviciu</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/CarmenPopoviciu" target="_blank"
                                       title="Tweet to Carmen directly!">
                                        @CarmenPopoviciu
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/carmen-popoviciu.jpg" alt="Carmen Popoviciu"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="team-member">
                    <div class="row">
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/tim-ysewyn.jpg" alt="Tim Ysewyn"/>
                            </div>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Tim Ysewyn</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/TYsewyn" target="_blank"
                                       title="Tweet to Tim directly!">
                                        @TYsewyn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <div class="team-member text-right">
                    <div class="row">
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Hannes Neukermans</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/HNeukermans" target="_blank"
                                       title="Tweet to Hannes directly!">
                                        @HNeukermans
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/hannes-neukermans.jpg" alt="Hannes Neukermans"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="team-member">
                    <div class="row">
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/ksenia-karelskaya.jpg" alt="Ksenia Karelskaya"/>
                            </div>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Ksenia Karelskaya</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/0594CF" target="_blank"
                                       title="Tweet to Ksenia directly!">
                                        @0594CF
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <div class="team-member text-right">
                    <div class="row">
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Davy Engone</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/davyengone" target="_blank"
                                       title="Tweet to Davy directly!">
                                        @davyengone
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/davy-engone.jpg" alt="Davy Engone"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="team-member">
                    <div class="row">
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/thijs-dhulster.jpg" alt="Thijs D'hulster"/>
                            </div>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Thijs D'hulster</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/tdhulster" target="_blank"
                                       title="Tweet to Thijs directly!">@tdhulster</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 offset-sm-1">
                <div class="team-member text-right">
                    <div class="row">
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Dennis Jaamann</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/dennisjaamann" target="_blank"
                                       title="Tweet to Dennis directly!">@dennisjaamann</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/dennis-jaamann.jpg" alt="Dennis Jaamann"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="team-member">
                    <div class="row">
                        <div class="col-4 col-sm-3">
                            <div class="team-member__image">
                                <img src="/assets/img/team/chandan-agarwal.jpg" alt="Chandan"/>
                            </div>
                        </div>
                        <div class="col-8 col-sm-9">
                            <div class="team-member__name">Chandan Agarwal</div>
                            <div class="team-member__title">Core team member</div>
                            <div class="team-member__links">
                                <div class="team-member-link">
                                    <a href="https://twitter.com/cooldudebtn" target="_blank"
                                       title="Tweet to Chandan directly!">@cooldudebtn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngbe-sponsors-list></ngbe-sponsors-list>

<ngbe-organisers [banner]="true"></ngbe-organisers>

<ngbe-community></ngbe-community>
