@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../styles/variables";

:host {

  display: block;

  .schedule-day {

    margin: {
      top: 10px;
    }

    @include media-breakpoint-down(md) {
      text: {
        align: center !important;
      }

      &.schedule-day-workshop {
        margin: {
          top: 25px;
          bottom: 25px;
        }
      }

      &.schedule-day-conference {
        margin: {
          bottom: 0;
        }
      }
    }

    &__title {
      // color: $ngbe-yellow;
    }
    &__date {
      display: block;
    }
    &__description {


    }
  }

}
