<section class="banner">

    <div class="container">
        <h1>NG-BE 2018</h1>
        <h2>Belgium's Angular conference!</h2>
        <p>
            <a routerLink="location">Ghent, Belgium</a> | 6 & 7 December 2018
        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1">
                <div class="schedule-day schedule-day-workshop text-right">
                    <h4 class="schedule-day__title">Workshop day</h4>
                    <div class="schedule-day__date">December 6, 2018</div>
                    <div class="schedule-day__description">
                        <p>
                            Attend a workshop and pick up tips and tricks from Angular experts.
                        </p>
                        <a class="btn btn-primary btn-sm" routerLink="/workshop-day">
                            Learn more
                        </a>
                        &nbsp;|&nbsp;
                        <a href="https://ti.to/ng-be/ng-be-2018/" class="btn btn-secondary btn-sm">
                            Buy workshop ticket
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="schedule-day schedule-day-conference text-left">
                    <h4 class="schedule-day__title">Conference day</h4>
                    <div class="schedule-day__date">December 7, 2018</div>
                    <div class="schedule-day__description">
                        <p>
                            Socialize with Angular experts, attend talks and connect with the Angular Core team.
                        </p>
                        <a href="https://ti.to/ng-be/ng-be-2018/" class="btn btn-secondary btn-sm">
                            Buy conference ticket
                        </a>
                        &nbsp;|&nbsp;
                        <a class="btn btn-primary btn-sm" routerLink="/conference-day">
                            Learn more
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<ngbe-organisers></ngbe-organisers>

<ngbe-last-years-impressions></ngbe-last-years-impressions>

<ngbe-community></ngbe-community>
