<section class="banner">

    <div class="container">
        <h1>NG-BE 2018</h1>
        <h2>Belgium's Angular conference!</h2>
        <h3>Save the date!</h3>
        <p>
            Ghent, Belgium | 6 & 7 December 2018
        </p>
    </div>

</section>

<section class="editx-challenge content">
    <p>
        Test your skills in the
        <a href="https://editx.eu/it-challenge/angular-challenge-ng-be-google" target="_blank"
           rel="noopener"
           title="Participate in the EditX Angular challenge!">
            Angular Challenge organised by EditX
        </a> and win tickets for the next NG-BE!
    </p>

    <a href="https://editx.eu/it-challenge/angular-challenge-ng-be-google" target="_blank" rel="noopener"
       title="Participate in the EditX Angular challenge!">
        <img src="/assets/img/editx-ng-be-banner.png" alt="EditX Angular Challenge"/>
    </a>

</section>

<ngbe-organisers></ngbe-organisers>

<ngbe-community></ngbe-community>