@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../styles/variables";

:host {

  display: block;

  .container {
    p {
      margin: {
        // bottom: 0;
      }
    }
  }

  .schedule-day {
    margin: {
      top: 10px;
      bottom: 10px;
    }

    @include media-breakpoint-down(md) {
      text: {
        align: center !important;
      }
    }

    &__title {
      color: $ngbe-yellow;
    }
    &__date {

    }
    &__description {

    }
  }

}