@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../styles/variables";

:host {

  display: block;

  .sponsors {
    &--intro {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  .sponsor-section {

    &--platinum {

      padding: 25px 0;

      @include media-breakpoint-down(xs) {
        padding: 25px 0;
      }

      .sponsor {

        &__image {

          img {
            display: block;
            width: 100%;
            max-width: 300px;
            margin: 15px auto 25px auto;
          }

        }

        &__description {

          @include media-breakpoint-down(xs) {
            margin: {
              bottom: 25px;
            }
          }

          p:last-child {
            margin: {
              bottom: 0;
            }
          }
        }

        &__link {
          @include media-breakpoint-down(xs) {
            display: none;
          }
          &.small {
            display: none;
            @include media-breakpoint-down(xs) {
              display: block;
            }
          }
        }

      }

    }

  }

}
