<div class="banner">
    <div class="container content">

        <div class="sponsors--intro">

            <h1>Sponsors</h1>
            <h3>Sponsors make NG-BE possible so make sure to check out their website.</h3>

            <p>
                Our platinum, gold & silver sponsors have a booth at the conference.
                Most of them are looking for new employees or have something to share, so be sure to visit their booth!
            </p>

        </div>
    </div>
</div>

<ngbe-organisers></ngbe-organisers>

<ngbe-community></ngbe-community>
