<div class="banner">
    <div class="container content">

        <div class="sponsors--intro">

            <h1>Sponsors</h1>
            <h3>Sponsors make NG-BE possible so make sure to check out their website.</h3>

            <p>
                Our platinum, gold & silver sponsors have a booth at the conference.
                Most of them are looking for new employees or have something to share, so be sure to visit their booth!
            </p>

        </div>
    </div>
</div>

<!--
<div class="container content" id="ordina">

    <div class="sponsor-section sponsor-section--platinum">
        <div class="row">
            <div class="col-sm-6">
                <div class="sponsor__image">
                    <a href="https://www.ordina.be/" target="_blank" rel="noopener" title="Visit Ordina website">
                        <img src="/assets/img//sponsors/ordina-wide.png" alt="Ordina Belgium"/>
                    </a>
                </div>
                <div class="sponsor__link">
                    <a href="https://www.ordina.be/" target="_blank" class="btn btn-primary" rel="noopener"
                       title="Visit Ordina website">
                        More info @ordina.be
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <h3>
                    NG-BE 2018 is powered by Ordina Belgium
                </h3>
                <div class="sponsor__description">
                    <p>
                        <strong>Our vision:</strong>
                    </p>
                    <p>
                        IT for People. Ordina believes in a digital world that helps people to move ahead. We are
                        helping to create a better and more pleasant society by realizing sustainable innovations
                        together with our clients.
                    </p>
                </div>
                <div class="sponsor__link small">
                    <a href="https://www.ordina.be/" target="_blank" class="btn btn-primary" rel="noopener"
                       title="Visit Ordina website">
                        More info @ordina.be
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
-->

<div class="banner">
    <div class="container content">
        <div class="sponsor-section sponsor-section--gold">

            <h2>Gold sponsors</h2>

            <div class="row">

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-12">
                            <a href="https://www.arhs-group.com/" target="_blank" rel="noopener"
                               title="Visit the Arηs Digital website"
                               class="sponsor-section--gold__image">
                                <img src="/assets/img/sponsors/arhs_digital.png" alt="Arηs Digital"/>
                            </a>
                        </div>
                        <div class="col-12 col-sm-7 col-md-12">
                            <h3>ARHS Digital</h3>
                            <p>
                                Arηs Digital was created in 2012 by Arηs Group to service the Belgian market.
                                Experiencing
                                strong growth, Arηs Digital is now actively working with large organizations in the
                                Manufacturing, Telecommunications, Healthcare, Pharmaceutical and Financial Industries.
                            </p>
                            <p>
                                Our credo, "Building on Talent, Delivering on Promise" summarizes our value proposition
                                to
                                our customers, prospects, partners and employees.
                            </p>
                            <p>
                                <a href="https://www.arhs-group.com/" target="_blank" rel="noopener"
                                   title="Visit the Arηs Digital website"
                                   class="btn btn-primary">
                                    Visit website
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-md-4 last">
                    <div class="row">
                        <div class="col-12 col-sm-5 col-md-12">
                            <a href="http://www.euri.com/jobs" target="_blank" rel="noopener"
                               title="Visit the Euricom website"
                               class="sponsor-section--gold__image">
                                <img src="/assets/img/sponsors/euricom.png" alt="aariXa"/>
                            </a>
                        </div>
                        <div class="col-12 col-sm-7 col-md-12">
                            <h3>Euricom</h3>
                            <p>
                                Euricom - a software consultancy company founded in 1999 – has a focus on high-quality
                                coding and working together as a team. We believe in a co-creation model by bringing
                                talented people together on customer projects to help them craft the digital world of
                                tomorrow.
                            </p>
                            <p>
                                Besides that, you will meet a team which will help you to harmonize the things in
                                life that really matter.
                            </p>
                            <p>
                                <a href="http://www.euri.com/jobs" target="_blank" rel="noopener"
                                   title="Visit the Euricom website"
                                   class="btn btn-primary">
                                    Visit website
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                -->
                <!--
    <div class="col-md-4 sponsor-section sponsor-section--gold">
        <div class="row">
            <div class="col-12 col-sm-5 col-md-12">
                <a href="http://www.aarixa.be" target="_blank" rel="noopener"
                   class="sponsor-section--gold__image"
                   title="Visit the aariXa website">
                    <img src="/assets/img/sponsors/aarixa.jpg" alt="aariXa"/>
                </a>
            </div>
            <div class="col-12 col-sm-7 col-md-12">
                <h3>aariXa</h3>
                <p>
                    aariXa – Founded in 2005, today a growing company that chooses stability and quality over
                    quantity.
                </p>
                <p>
                    Focusing on Front-end, .NET & JAVA technologies, we define and optimize solutions
                    for SME as well as for large international companies. "You’re not a number" is our key
                    value.
                </p>
                <p>
                    <a href="http://www.aarixa.be" target="_blank" rel="noopener"
                       title="Visit the aariXa website"
                       class="btn btn-primary">
                        Visit website
                    </a>
                </p>
            </div>
        </div>
    </div>
    -->
            </div>

        </div>
    </div>
</div>

<div class="container content sponsor-section--silver">

    <h2>Silver sponsors</h2>

    <div class="row">

        <!--
        <div class="col-sm-6 sponsor-section sponsor-section--silver">

            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <a href="http://www.axxes.com/en" target="_blank" rel="noopener"
                       title="Visit the Axxes website"
                       class="sponsor-section--silver__image">
                        <img src="/assets/img/sponsors/axxes.png" alt="Axxes"/>
                    </a>
                </div>
                <div class="col-sm-7 col-md-8">
                    <h3>Axxes</h3>
                    <p>
                        Axxes –founded in 1998- is a no-nonsense IT Consultancy organization with over 160 Axxes &
                        freelance consultants making their talent and expertise available to our clients in Brussel and
                        Flanders.
                    </p>
                    <p>
                        <a href="http://www.axxes.com/en" target="_blank" rel="noopener"
                           title="Visit the Axxes website"
                           class="btn btn-primary">
                            Visit website
                        </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 sponsor-section sponsor-section--silver">

            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <a href="http://www.realdolmen.com/" target="_blank" rel="noopener"
                       title="Visit the Realdolmen website"
                       class="sponsor-section--silver__image">
                        <img src="/assets/img/sponsors/realdolmen.jpg" alt="Realdolmen"/>
                    </a>
                </div>
                <div class="col-sm-7 col-md-8">
                    <h3>Realdolmen</h3>
                    <p>
                        Realdolmen is not a standard ICT company. ICT companies almost always focus on and depart from
                        technology. Realdolmen focuses in the 1st place on the result that its customers can achieve and
                        works towards the technological part.
                    </p>
                    <p>
                        <a href="http://www.realdolmen.com/jobs" target="_blank" rel="noopener"
                           title="Visit the Realdolmen website"
                           class="btn btn-primary">
                            Visit website
                        </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 sponsor-section sponsor-section--silver">

            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <a href="http://www.adneom.com/" target="_blank" rel="noopener"
                       title="Visit the Adneom website"
                       class="sponsor-section--silver__image">
                        <img src="/assets/img/sponsors/adneom.png" alt="Adneom"/>
                    </a>
                </div>
                <div class="col-sm-7 col-md-8">
                    <h3>Adneom</h3>
                    <p>
                        The creation of value at the Positive Thinking Company is largely determined by our coworkers.
                        They are the driving force behind the results which the organization achieves for all our
                        stakeholders. The commitment of our employees to achieve results, helps our clients succeed. Our
                        daily focus is on our clients and consultants where we think in terms of opportunities and
                        possibilities.
                    </p>
                    <p>
                        <a href="http://www.adneom.com/" target="_blank" rel="noopener"
                           title="Visit the Adneom website"
                           class="btn btn-primary">
                            Visit website
                        </a>
                    </p>
                </div>
            </div>

        </div>

        <div class="col-sm-6 sponsor-section sponsor-section--silver">

            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <a href="http://www.ctg.com/" target="_blank" rel="noopener"
                       title="Visit the CTG website"
                       class="sponsor-section--silver__image">
                        <img src="/assets/img/sponsors/ctg.png" alt="CTG"/>
                    </a>
                </div>
                <div class="col-sm-7 col-md-8">
                    <h3>CTG</h3>
                    <p>
                        CTG is the most reliable IT services provider, built on 50 years of meeting our commitments to
                        make technology work for our clients and deliver real business value.
                    </p>
                    <p>
                        <a href="http://www.ctg.com/" target="_blank" rel="noopener"
                           title="Visit the CTG website"
                           class="btn btn-primary">
                            Visit website
                        </a>
                    </p>
                </div>
            </div>

        </div>
        -->

        <div class="col-sm-6 sponsor-section sponsor-section--silver">

            <div class="row">
                <div class="col-sm-5 col-md-4">
                    <a href="https://www.continuum.be/" target="_blank" rel="noopener"
                       title="Visit the Continuum website"
                       class="sponsor-section--silver__image">
                        <img src="/assets/img/sponsors/continuum.png" alt="CTG"/>
                    </a>
                </div>
                <div class="col-sm-7 col-md-8">
                    <h3>Continuum</h3>
                    <p>
                        Bij Continuum leggen onze software crafters elke dag de lat hoger voor software development.
                        Onze software crafters gebruiken een uniek model om hun kennis up-to-date te houden en zich
                        verder te ontwikkelen. Onze leergierigheid is dan ook ontembaar. Wij volgen de markt en de
                        nieuwe tendenzen op de voet. Niet om te innoveren "om te innoveren"​, maar wel om echte
                        toegevoegde waarde te leveren aan onze klanten.
                    </p>
                    <p>
                        Java zit in ons DNA. Maar wij zijn ook gedreven in aanverwante technologieën en bieden diensten
                        aan in backend, front-end en mobile development, text analytics en training.
                    </p>
                    <p>
                        Wij gaan verder dan agile software development. Echte meerwaarde kan immers enkel komen via echt
                        vakmanschap.
                    </p>
                    <p>
                        <a href="https://www.continuum.be/" target="_blank" rel="noopener"
                           title="Visit the Continuum website"
                           class="btn btn-primary">
                            Visit website
                        </a>
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="banner">
    <div class="container content sponsor-section sponsor-section--bronze">

        <h2>Bronze sponsors</h2>

        <div class="row">

            <div class="col-md-4 last">
                <div class="row">
                    <div class="col-12 col-sm-5 col-md-12">
                        <a href="https://www.showpad.com/" target="_blank" rel="noopener"
                           title="Visit the Showpad website"
                           class="sponsor-section--bronze__image">
                            <img src="/assets/img/sponsors/showpad.jpg" alt="Showpad"/>
                        </a>
                    </div>
                    <div class="col-12 col-sm-7 col-md-12">
                        <h3>Showpad</h3>
                        <p>
                            Since 2011, the Showpad sales enablement platform aligns sales and marketing teams of over
                            1000 companies around the world, including Johnson & Johnson, Fujifilm, Kimberly-Clark,....
                        </p>
                        <p>
                            <a href="https://www.showpad.com/" target="_blank" rel="noopener"
                               title="Visit the Showpad website"
                               class="btn btn-primary">
                                Visit website
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ngbe-organisers></ngbe-organisers>

<ngbe-community></ngbe-community>
